$offwhite: #c9c9c9;
$blue: #1877F2;

.dashboard-main-div {
    position: relative;
    background-color: rgb(16 16 32);
    height: 100vh;
}

.navbar-div {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-user-img {
    width: 30px;
}

.reward-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reward-value {
    margin-right: 5px;
    font-size: 15px;
    color: $offwhite;
}

.reward-img {
    width: 30px;
    margin-right: 20px;
}

.dlottery {
    color: $offwhite;
    font-weight: bolder;
}

.account-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative
}

.logout-text {
    padding-left: 5px;
    color: red;
    cursor: pointer;
}

.navbar-expand {
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
    position: absolute;
    right: 10px;
    left: auto;
    top: 45px;
    border-radius: 5px;
    padding: 2px 0px;
}

.expand {
    max-height: 150px;
    right: 10px;
    left: auto;
    top: 45px;
    background-color: white;
    border: 0.5px solid $blue;

}

.navbar-click {
    color: $blue;
    font-weight: 500;
    text-transform: capitalize;
    padding: 4px 15px;
    &:hover {
        color: white;
        background-color: #1877F2;
    }
    cursor: pointer;
}

.navbar-disabled-click {
    color: gray;
    font-weight: 500;
    text-transform: capitalize;
    padding: 4px 15px;
    cursor: not-allowed;
}

.active-games-div {
    padding: 10px 30px;
}

.active-text {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    color: $offwhite;
}

.game-div {
    border: 1px solid black;
    background-color: rgb(243 243 243);
    padding: 10px;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px black;
}

.name-text {
    font-size: 15px;
    text-transform: uppercase;
    color: #1877F2;
    font-weight: bold;
}

.hosted-text {
    font-size: 10px;
}

.min-amount-div {
    margin-top: 10px;

    .amount-value {
        color: #1877F2;
        font-weight: bold;
    }
}

.join-game-btn {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #1877F2;
    border: 1px solid #1877F2;
}

.join-game-text {
    color: $offwhite;
}

.availability-dot {
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: green;
    right: 10px;
    border-radius: 50px;
}

.your-games-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-tab-div {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        cursor: pointer;
        margin-right: 5px;
        padding: 3px 10px;
        border: 1px solid $offwhite;
        font-size: 12px;
        color: $offwhite;
    }

    .active {
        border: 1px solid green;
        color: white;
        background-color: green;
    }
}

.winner-img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}

.details-btn {
    margin-left: 10px;
    color: #1877F2;
    background-color: white;
    border: 1px solid #1877F2;
}

.create-game-btn {
    background-color: #1877F2;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    border: 1px solid #1877F2;
    font-weight: bold;
    font-size: 15px;
    position: fixed;
    bottom: 70px;
    left: 45%;
    z-index: 10;
}

.create-game-modal-div {
    position: absolute;
    padding: 20px;
    box-shadow: 1px 2px 4px 2px black;
    z-index: 100;
    background-color: white;
    left: 30%;
    width: 500px;
    top: 15%;
    height: auto;
    border-radius: 10px;
}

.winner-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.x-btn {
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.create-text {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue;
}

.data-input-div {
    margin-top: 15px;
}

.data-input {
    margin-bottom: 15px;

    p {
        font-weight: 600;
    }

    input {
        background-color: white;
        border-radius: 1px;
        padding: 2px 5px;
        border: none;
        border-bottom: 1px solid black;
    }
}

.create-game-btn-modal {
    border: 1px solid #1877F2;
    background-color: #1877F2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.game-details-div {
    margin-top: 15px;
    border: 0.1px solid lightgrey;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);

    .row {
        width: 100%;
    }
}

.detail-div {
    padding: 5px 20px;

    p {
        text-align: center;
    }
}

.btn-div-row {
    margin: 25px 15px;
    align-items: center;
    justify-content: space-between;
}

.btn-join-game {
    width: 45%;
    padding: 10px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.detail {
    color: #1877F2;
    text-transform: capitalize;
}

.you-text {
    color: #008001;
}

.value {
    font-weight: bold;
}

.game-name-value {
    text-transform: uppercase;
}

.pay-btn {
    padding: 5px 10px;
    background-color: #1877F2;
}

.join-game-txt {
    font-size: 12px;
}

.close-btn {
    background-color: rgb(182, 5, 5);
}

.view-polygonscan {
    color: rgb(90, 90, 237);
    padding-top: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
}

.crown-img {
    width: 20px;
}

.create-text {
    margin-top: 10px;
    font-size: 15px;
}

.won-confetti-text {
    color: #1877F2;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.unseen-close-btn {
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
}

.your-wallet-text {
    color: green;
    font-weight: bold;
}

.dollar-sign-img {
    width: 20px;
}

.one-spot-left-text {
    color: rgb(203, 2, 2);
    animation: blinker 0.5s infinite;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

.many-spots-left-text {
    color: rgb(9, 173, 20);
}

.info-img {
    width: 15px;
    margin-top: -15px;
}